body{
    max-width:1000px;
    margin: auto!important;
}
#form{
    padding: 20px;
}
.my-icons{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
}
.my-icons:hover{
    background-color: #d6d6d6;
}